h1{
    color: aqua;
    text-align: center;
}

#grid{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 400px;
    align-items: center;
    gap: 60px;
    font-size: large;
}

#conteudo{
    display: grid;
    /* align-content: center; */
    justify-items: center;
}

.texto{
    border: 5px solid aqua;
    height: fit-content;
    width: fit-content;
}

#autor{
    color: aqua;
    border: 5px solid black;
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
}

@media (max-width: 768px) {
    #grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}

@media (min-width: 769px) {
    #grid {
        /* width: 100vw; */
        grid-template-columns: auto auto;
    }
}

@media (max-width: 480px) {
    #grid {
        grid-template-columns: 1fr;
        justify-items: center;
        font-size: small;
    }
}